{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.order'|trans }} #{{ order.number }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% include '@SyliusShop/Account/Order/Show/_breadcrumb.html.twig' %}
{% endblock %}

{% block subcontent %}
    {% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <h1 class="ui header">
        <i class="circular cart icon"></i>
        <div class="content">
            <div class="sub header">
                <div class="ui horizontal divided list">
                    <div class="item">
                        {{ order.checkoutCompletedAt|format_date }}
                    </div>
                    <div class="item">
                        {% include [('@SyliusShop/Account/Order/Label/State' ~ '/' ~ order.state ~ '.html.twig'), '@SyliusUi/Label/_default.html.twig'] with {'value': ('sylius.ui.' ~ order.state)|trans} %}
                    </div>
                    <div class="item">
                        {{ order.currencyCode }}
                    </div>
                    <div class="item">
                        {{ flags.fromLocaleCode(order.localeCode) }}{{ order.localeCode|sylius_locale_name }}
                    </div>
                </div>
            </div>
        </div>
    </h1>

    <div style="text-align: right">
        {{ buttons.default(path('sylius_abandoned_cart_shop_cart_use', {'id': order.id}), 'sylius.ui.use', null, 'pencil alternative', 'grey') }}
    </div>

    {% include '@SyliusShop/Common/Order/_table.html.twig' %}
{% endblock %}
